@model exerciseCrud.Models.BoardInfo

@{
    ViewBag.Title = "UpdateView";
}
<script>
    //boardId정의
    var boardId = @ViewBag.boardId;
</script>
<div id="UpdateViewDIV"></div>

<script id="UpdateViewTmpl" type="text/j-query-tmpl">
    <div class="container">
        <h2>UpdateView</h2>
        <br />
        <form id="dropzone" enctype="multipart/form-data">
            <input type="hidden" name="boardId" value="${boardId}" />
            
            <table>

                <tr>
                    <th>제목</th>
                    <td><input type="text" name="boardTitle" style="width:1000px" value="${boardTitle}" /></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><textarea rows="20" cols="100" id="boardContent" name="boardContent"></textarea></td>
                </tr>
                <tr>
                    <th style="width:5%">아이디</th>
                    <td><input type="text" name="userId" style="width:1000px" value="${userId}" /></td>
                </tr>
                <tr id="wFileTr2" class="file_input">
                    <td colspan="2">
                        <div id="dropZone" style="width:100%" class="dropzone">
                            <span>첨부파일을 추가하거나 드래그해주세욤</span>
                            <input type="file" id="wFileInput" multiple="multiple" style="display:none;" />
                            <!-- 파일 리스트 테이블  -->
                            <table class="input_table" id="fileListTable" style="display:none; width:50%">

                                <caption class="blind">파일 목록</caption>

                                <colgroup>
                                    <col width="10%">
                                    <col width="75%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"><span class="blind">삭제</span></th>
                                        <th scope="col">파일명</th>
                                        <th scope="col">용량</th>
                                    </tr>
                                </thead>
                                <tbody id="fileTableTbody">
                                    <!--기존파일-->
                                    {{each(i,item) BoardFileList}}
                                    <tr id="fileTr_${i}">
                                        <td class="txt_left"><button type='button' class='btn btn_delete' onclick='deleteFile("${i}", "${item.fileId}"); return false;'>삭제</button></td>
                                        <td>${item.fileName}</td>
                                        <td><input type="hidden" name="oFile_${i}" value="${item.fileId}" /> ${item.fileId} </td>
                                    </tr>
                                    {{/each}}
                                    <!--신규파일은 밑에추가-->
                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>
            </table>
            <input type="button" onclick="UpdateSubmit()" value="글 수정" />
        </form>

    </div>
</script>
    @Html.ActionLink("뒤로가기", "/List")
    
    <script type="text/javascript">       
        // 파일 리스트 번호
        var fileIndex = 0;
        // 등록할 전체 파일 사이즈
        var totalFileSize = 0;
        // 등록할 전체 파일 카운트
        var totalFileCount = 0;
        // 파일 리스트
        var fileList = new Array();
        // 파일 사이즈 리스트
        var fileSizeList = new Array();
        // 등록 가능한 파일 사이즈 MB
        var uploadSize = 90000;
        // 등록 가능한 총 파일 사이즈 MB
        var maxUploadSize = 500;
        // 등록 가능한 파일 갯수
        var maxUploadCount = 15;
        // 원본 파일 삭제 리스트
        var dfileList = new Array();

        $(function () {
            init();
           
        });

        $(document).on('bind', '#wFileInput', function () {
            selectFile(this.files);
        });
      
        function init() {
            
            $.ajax({
                url: "//exerciseCrud.com/Exercise/UpdateView",
                data: { boardId: boardId },
                dataType: "JSON",
                success: function (d) {
                    $("#UpdateViewTmpl").tmpl(d).appendTo("#UpdateViewDIV");
                    //file개수가 1이상일때
                    if (d.BoardFileList.length > 0) {
                        for (var i = 0; i < d.BoardFileList.length; i++){                           
                            totalFileCount += d.BoardFileList.length;                                                       
                            fileIndex += d.BoardFileList.length;
                            if (totalFileCount > 0) {
                                $("#fileListTable").show();
                            } 
                        }                      
                    }
                   
                    fileDropDown();

                    //스마트에디터2.0
                    oEditors = [];

                    nhn.husky.EZCreator.createInIFrame({
                        oAppRef: oEditors,
                        elPlaceHolder: "boardContent",
                        sSkinURI: "http://exercisecrud.com/dist/SmartEditor2Skin.html",
                        htParams: {
                            bUseToolbar: true,
                            bUseVerticalResizer: true,
                            bUseModeChanger: true,
                            fOnBeforeUnload: function () {
                            }
                        },
                        fOnAppLoad: function () {
                            oEditors.getById["boardContent"].exec("PASTE_HTML", [d.boardContent]);
                        },
                        fCreator: "createSEditor2",

                    });
                                                                  
                }
            });

        };

        function UpdateSubmit() {
            var uploadFileList = Object.keys(fileList);
            //에디터 내용 textarea적용 필요 
            oEditors.getById["boardContent"].exec("UPDATE_CONTENTS_FIELD", []);

            //유효성검사
            var w_title = $("#boardTitle").val();
            var w_contents = oEditors.getById["boardContent"].getIR();
            var w_userId = $("#userId").val();

            if (w_title == "") {
                alert("제목을 입력해 주세요.");
                document.getElementById("boardTitle").focus();
                document.getElementById("boardTitle").select();
                return false;
            }
            //null값 or 에디터 기본 html값
            if (w_contents == "" || w_contents == "<p><br></p>") {
                alert("내용을 입력해 주세요.");
                oEditors.getById["boardContent"].exec("FOCUS");
                return false;
            }
            if (w_userId == "") {
                alert("아이디를 입력해 주세요.");
                oEditors.getById["userId"].exec("FOCUS");
                return false;
            }


            if (confirm("등록 하시겠습니까?")) {
                // formData 구성
                var form = $('#dropzone');
                var formData = new FormData(form[0]);
                formData.append('dFileCnt', dfileList.length);
                for (var i = 0; i < dfileList.length; i++) {
                    formData.append('dFile' + (i + 1), dfileList[i]);
                }
                for (var i = 0; i < uploadFileList.length; i++) {
                    formData.append('file' + (i + 1), fileList[uploadFileList[i]]);
                }
                              
                console.log(form);
                console.log(formData);
              

                $.ajax({
                    url: "//exerciseCrud.com/Exercise/UpdateUpload",
                    data: formData,
                    type: 'POST',
                    processData: false,
                    enctype: 'multipart/form-data',
                    contentType: false,
                    cache: false,
                    success: function (d) {
                        alert("수정성공");
                        location.href = "/Board/List";
                    },
                    error: function (d) {  
                        alert("오류");
                        location.href = "/Board/List";
                        
                    }
                });

                return false;

            };
        };

        
    </script>


