@model exerciseCrud.Models.BoardInfo

@{
    ViewBag.Title = "Write";
}

<h2>Write</h2>
<form id="dropzone" name="dropzone" enctype="multipart/form-data" method="POST">
    <input type="hidden" id="fileText" name="fileName" value="" style="width:1000px;" readonly />
    <input name="uploadedFile" type="hidden" id="uploadedFile" />
    <table>
        <tr>
            <th style="width:5%">아이디</th>
            <td><input type="text" name="userId" id="userId" style="width:1000px" /></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input type="text" name="boardTitle" id="boardTitle" style="width:1000px" /></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea id="boardContent" name="boardContent" cols="100" rows="20"></textarea></td>
        </tr>
        <tr id="wFileTr2" class="file_input">
            <td colspan="2">
                <div id="dropZone" style="width:50%" class="dropzone">
                    <span>첨부파일을 추가하거나 드래그해주세욤</span>
                    <input type="file" name="pUpload" id="pUpload" multiple="multiple" style="display:none;" />

                    <!-- 파일 리스트 테이블  -->
                    <table class="input_table" id="fileListTable" style="display:none; width:50%">
                        <caption class="blind">파일 목록</caption>

                        <colgroup>
                            <col width="10%">
                            <col width="75%">
                            <col width="15%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col"><span class="blind">삭제</span></th>
                                <th scope="col">파일명</th>
                                <th scope="col">용량</th>
                            </tr>
                        </thead>
                        <tbody id="fileTableTbody"></tbody>
                    </table>
                </div>

            </td>
        </tr>

    </table>
    <br />
    <p>
        <input type="button" onclick="WriteSubmit();" value="글작성" />
    </p>
</form>


<div>
    @Html.ActionLink("돌아가기", "/List")
</div>
<script>
   
</script>

<!--SamrtEditor 2.0-->

<script type="text/javascript">
    // 파일 리스트 번호
    var fileIndex = 0;
    // 등록할 전체 파일 사이즈
    var totalFileSize = 0;
    // 등록할 전체 파일 카운트
    var totalFileCount = 0;
    // 파일 리스트
    var fileList = new Array();
    // 파일 사이즈 리스트
    var fileSizeList = new Array();
    // 등록 가능한 파일 사이즈 MB
    var uploadSize = 90000;
    // 등록 가능한 총 파일 사이즈 MB
    var maxUploadSize = 500;
    // 등록 가능한 파일 갯수
    var maxUploadCount = 1;


    var oEditors = [];
    

    $(document).ready(function () {
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "boardContent",
            sSkinURI: "http://exercisecrud.com/dist/SmartEditor2Skin.html",
            htParams: {
                bUseToolbar: true,
                bUseVerticalResizer: true,
                bUseModeChanger: true,
                fOnBeforeUnload: function () {
                }
            },
            fCreator: "createSEditor2"
        });
        $('#pUpload').bind('change', function () {
            selectFile(this.files);

        });
        fileDropDown();
    });
        

    function WriteSubmit() {
        var uploadFileList = Object.keys(fileList);
        //에디터 내용 textarea적용 필요 
        oEditors.getById["boardContent"].exec("UPDATE_CONTENTS_FIELD", []);

        var w_title = $("#boardTitle").val();
        var w_contents = oEditors.getById["boardContent"].getIR();
        var w_userId = $("#userId").val();

        if (w_title == "") {
            alert("제목을 입력해 주세요.");
            document.getElementById("boardTitle").focus();
            document.getElementById("boardTitle").select();
            return false;
        }
        //null값 or 에디터 기본 html값
        if (w_contents == "" || w_contents == "<p><br></p>") {
            alert("내용을 입력해 주세요.");
            oEditors.getById["boardContent"].exec("FOCUS");
            return false;
        }
        if (w_userId == "") {
            alert("아이디를 입력해 주세요.");
            oEditors.getById["userId"].exec("FOCUS");
            return false;
        }
        // 등록할 파일 리스트
        
        if (confirm("등록 하시겠습니까?")) {
            //등록할 파일 리스트를 formData로 데이터 입력

            var form = $('#dropzone');
            var formData = new FormData(form[0]);
            
            formData.append('file', fileList[uploadFileList[0]]);
            

            
            console.log(form);
            console.log(formData);
            
            $.ajax({
                url: "//exerciseCrud.com/Exercise/WriteUpload",
                data: formData,
                type: 'POST',              
                processData: false,
                enctype: 'multipart/form-data',
                contentType: false,
                cache: false,
                success: function (d) {                  
                    alert("등록성공");
                    location.href = "/Board/List";
                    
                },
                error: function (d) {
                    alert(d);
                }
            });

        }
    };
    //-------------------------------------------------

</script>

<style>
    table {width:2000px;}
</style>



